<div class="footer bg-dark">
    <div class="footerhead text-center">
        <div class="logo mt-5 text-light fs-1 fw-bold">日更</div>
    </div>
    <ul class="footerword d-flex flex-column flex-lg-row justify-content-center mt-4 list-unstyled text-center">
        <li class="fs-5 fs-700 text-light px-3 py-2"><a href="about.html" class="text-decoration-none">日更說明</a></li>
        <li class="fs-5 fs-700 text-light px-3 py-2">網站導覽</li>
        <li class="fs-5 fs-700 text-light px-3 py-2">聯絡我們</li>
        <li class="fs-5 fs-700 text-light px-3 py-2">行銷合作</li>
        <li class="fs-5 fs-700 text-light px-3 py-2">影音分享</li>
    </ul>

    <div class="icon d-flex justify-content-center mt-4">
        <i class="fa-brands fa-facebook text-light fs-1 px-5"></i> 
        <i class="fa-brands fa-instagram text-light fs-1 px-5"></i> 
        <i class="fa-brands fa-youtube text-light fs-1 px-5"></i> 
    </div>
    <div class="footerbottom text-center mt-4 mb-5">
        <p class="fs-6">此專題僅供面試作品所用，非商業營利性質</p>
    </div>
</div>