<div class="footer">
    <div class="footerhead">
        <h1>日更</h1>
    </div>
    <div class="footerword">
        <p>日更說明</p>
        <p>網站導覽</p>
        <p>聯絡我們</p>
        <p>行銷合作</p>
        <p>影音分享</p>
    </div>
    <div class="icon">
        <div class="facebook">
            <i class="fa-brands fa-facebook fa-2xl" style="color: #ffffff;"></i>
        </div>
        <div class="instagram">
            <i class="fa-brands fa-instagram fa-2xl" style="color: #ffffff;"></i>
        </div>
        <div class="youtube">
            <i class="fa-brands fa-youtube fa-2xl" style="color: #ffffff;"></i>
        </div>
    </div>
    <div class="footerbottom">
        <p>此專題僅供面試作品所用，非商業營利性質</p>
    </div>
</div>