<div class="header">
    <h1>日更</h1>
    <div class="pushsearchbarright">
        <input type="text" class="searchbar" placeholder="搜尋更多日更">
    </div>
    <div class="pushloginright">
        <a class="login" href="./signIn.html">登入</a>
    </div>
    <div class="pushiconright">
        <span class="material-symbols-outlined" style="color: white;">
            person
            </span>
        <!-- <i class="material-symbols-outlined" style="font-size:25px; color:white;">
            person
        </i> -->
    </div>
</div>

<!-- //要再修改 -->