<div class="container-fluid bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-lg d-flex navbar-dark py-3">
            
                <a class="logo-sm fs-1 text-light fw-bold text-decoration-none d-block d-md-block d-lg-none" href="#">日更</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                        <a class="logo-xl fs-sm-4 fs-1 fw-bold text-light text-decoration-none d-none d-lg-block" href="#">日更</a>
                        <form class="mt-4 mt-lg-0">
                            <div class="inputWithin d-flex justify-content-center">
                                <i class='fas fa-search icon'></i>
                                <input class="form-control ps-4" type="search" placeholder="搜尋更多日更" aria-label="Search">
                            </div>  
                        </form>
                        <ul class="navbar-nav mb-2 mb-lg-0 mt-3 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link fs-5 fw-bold text-light me-5" href="#">日更說明</a>
                        </li>
                            <button class="btn btn-outline-light px-4" type="submit">登入</button>
                        </ul>
                   
                </div> 
        
        </nav>
    </div>
</div>

<div class="header d-flex justify-content-center ">
    
    <div class="pushsearchbarright">
        <input type="text" class="searchbar" placeholder="搜尋更多日更">
    </div>
    <div class="pushloginright">
        <button class="login">登入</button>
    </div>
    <div class="pushiconright">
        <i class="material-symbols-outlined" style="font-size:25px; color:white;">
            person
        </i>
    </div>
    </div>
</div>


