@import "../../node_modules/bootstrap/scss/functions";
@import './utils/variables';
@import './node_modules/bootstrap/scss/maps';
@import './utils/_utilities';
@import "../../node_modules/bootstrap";

@import './base/base';
@import './base/typography';
@import './layout/header.scss';
@import './layout/footer.scss';





@import './vendor/swal';


@import './pages/index.scss';