.aboutLikeTitle{
    width: 420px;
    background-color: $yellow-100;
    border-radius: 25% 0 25% 0;
    h3{
        width: 320px;
    }
    .blueBlock{
        width: 160px;
        background-color: $blue;
        display: block;
        border-radius: 45px;
        text-align: center;
    }

}
