.textShadowBlack{
  text-shadow: 6px 6px 0 black;
  -webkit-text-stroke: 3px black;
}
.textShadowWhite{
  text-shadow: 0 0 6px white;
}
.userTag{
  background-color: $warning;
  border-radius: 4px;
} 
.index-title {
  font-size: 100px;
}
.bottom .bottom-divider {
  /*background-color: #FF97B0;*/
}
.carousel{
  position: relative;
  .carousel-indicators{
    z-index: 30;
    transform: translateY(-60px);
  }
  .carouselTitle{
    position: absolute;
    z-index: 3;
    left: 312px;
    bottom: 200px;
    text-shadow: 4px 4px 0px white;
    .carouselTitleSmall{
      text-shadow: 3px 3px 0px $black;
    }
  }
  .carouselDecorate{
    position: absolute;
    bottom: 0;
    z-index: 3;
  }
}

.news{
  position: relative;
  background-color: $primary;
  padding: 70px 0;
  background-image: url(/assets/images/newsBigPic.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center 16px;
  .springBgPic{
    position: absolute;
    width: 160px;
    height: auto;
    left: 97px;
    top: -94px;
    z-index: 30;
  }
  .pencliBgPic{
    position: absolute;
    transform:rotate(-25deg);
    width: 320px;
    height: auto;
    right: 80px;
    top: 60px;
  }
  .newsList{
    position: absolute;
    right: 320px;
    bottom: 0px;
    width: 660px;
    z-index: 100;
    .newsListBtn{
      width: 180px;
      height: 110px;
      display: block;
      position: relative; 
      transform: skew(-10deg) translateX(10%);
      border-radius: 24px;
      overflow: hidden;
      border: 8px solid $black;
      box-shadow: 14px 14px 0 white;
      &:hover{
        bottom: 10px;
        border: 8px solid $warning;
      }
    }
    .newsListText{
      text-shadow: 3px 3px 6px black;
      
    }
  }

  

  .newsMain{
    .newsBigPic{
      margin-right: 48px;
      max-width: 852px;
      height: auto;
      overflow: hidden;
      border-radius: 40px;
      border: 8px solid $black;
    }
    .newsMainText{
      .moreText{
        width: 200px;
        border-radius: 8px;
        background-color: white;
        border: 4px solid black;
        box-shadow: 4px 4px 0px 0px #ADB5BD;
        span{
          font-size: 32px;
        }
      }
    }
    
  }
  .newsUserInfo{
    margin-top: 60px;
    position: relative;
    .newsUserInfoTitle{
      text-shadow: 3px 3px 0 black;
    }
    .userNamePic{
      img{
        object-fit: cover
      }
    }
  }


  
}



.sort{
  background-color: $black;
  padding: 36px 0;
  position: relative;
  .sortBgMagnet{
    position: absolute;
    width: 240px;
    height: auto;
    bottom: -70px;
    left: 40px;
  }
  .sortBgBush{
    position: absolute;
    width: 120px;
    height: auto;
    top: -40px;
    left: 80px;
  }
  .sortBgRhombus01{
    position: absolute;
    width: 80px;
    height: auto;
    top: 374px;
    left: 138px;
  }
  .sortBgRhombus02{
    position: absolute;
    width: 80px;
    height: auto;
    top: 106px;
    right: 43px;
  }
  .sortBgRhombus03{
    position: absolute;
    width: 80px;
    height: auto;
    bottom: 161px;
    right: 113px;
  }
  ul{
    .sortCard{
      height: 240px;
      width: 416px;
      border: 8px solid $black;
      border-radius: 40px;
      box-shadow: 4px 4px 0 #ADB5BD;
      overflow: hidden;
      position: relative;
    .sortText{
      position: absolute;
      bottom: 24px;
      right: 28px;
      z-index: 10;
      text-shadow: 3px 3px 0 $black;
    }

    .imgPosBottom{
      position: absolute;
      bottom: -100%;
    }
      
  }

  }


}
.ranking{
  position: relative;
  background-color: $warning;
  padding-top: 80px;
    .cylinderImg{
      position: absolute;
      top: -60px;
      right: 60px;
      img{
        width: 120px;
        height: auto;
    }
  }
  .rankingList{
      padding-bottom: 80px;
    ul{
      
      .rankingTitle{
        color: white;
        background: black;
        border-radius: 50px;
        border: 3px solid white;
      }
      .rankingCard{
        padding-left: 28px;
        background-color: #fff;
        padding-left: 28px;
        border-radius: 40px;
        border: 5px solid black;
        img{  
          width: 168px;
          height: 168px;
          border-radius: 32px 0 0 32px;
          display: block;
          object-fit: cover;
          object-position: center;
        }
        .rankingCardText{
          width: 168px;
          .rankingCardUser{
            img{
              width: 24px;
              height: 24px;
              border-radius: 12px;
              display: block;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }
    } 
  } 
}


.bottom {
  background-color: $pink;
  position: relative;
  .bottomBg{
    position: absolute;
    top: -42px;
  }
  .bgFlower{
    position: absolute;
    top: -160px;
    right: 10px;
    img{
      width: 280px;
      height: auto;
    } 
  }
  .bgSmile{
    position: absolute;
    bottom: -102px;
    left: 30px;
  }
 
}

.bottom .bottom-title {
  max-width: 1920px;
  height: 240px;
  padding: 40px, 312px, 40px, 312px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

}


.bottom .wordfind {
  color: black;
  font-family: 'Noto Sans TC';
  font-weight: normal;
  font-size: 80px;
  letter-spacing: 0%;
  text-shadow: 3px 3px 2px white;
}

.bottom .wordsearch {
  color: white;
  font-family: 'Noto Sans TC';
  font-weight: normal;
  font-size: 80px;
  letter-spacing: 0%;
  text-shadow: 3px 3px 2px black;
}

.bottom .bottom-search {
  display: flex;
  justify-content: center;
  align-items: center;
}


.bottom .bottom-search .bottomsearchbar {
  font-family: 'Noto Sans TC';
  font-weight: normal;
  font-size: 16;
  line-height: 24px;
  letter-spacing: 0%;
  display: inline;
  text-align: center;
  border-radius: 10px;
  outline: black;
  width: 856px;
  height: 56px;
  margin-top: 10px;
}

.bottom .bottom-word {
  color: white;
  font-family: 'Noto Sans TC';
  font-weight: normal;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 10%;
  text-align: center;
  text-shadow: 3px 3px 2px black;
  padding-bottom: 20px;
}