<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="bg-warning py-5">
      <div class="container">
        <h1>關於日更</h1>
      <p class="fs-5 mt-3">源於原子習慣中<span class="fw-black">堅持每日成長1%,一年可成長37倍</span>
      <br>一件事，只要您願意每天去做，無論做長還是做短，365天以後，都將對您帶來巨大的變化。
      <br>一天做多還是做少，一點都不重要，重要的是，有沒有每天堅持去做呢？
      <br>我們必須要明白一件事，我們要去享受的是做事的過程，但做事的多寡其實並不重要!
      <br><span class="fw-black">你的一點小改變、一個好習慣，都會產生驚人的加乘效應</span>
      </p>
      <h2 class="mt-3">榮譽與積極的信念</h2>
      <p class="fs-5 mt-3">在上述過程當中，你會感受到產生出的追求榮譽與積極信念，就好像執行瘦身的時候，
      <br>一定要從每天運動開始，一開始，正常的飲食下，無論運動時間長與短，只要每天堅持運動，
      <br>久了以後就會開始想著，還是吃少一點好了，或是再多做一些好了，正因為每天都有做運動，
      <br>已經形成習慣，而激發出一種不想再消極的想法。</p>
      <p class="fs-5 mt-3">
        在這日更你並不孤單，可籍由日更記錄觀察每日的成長變化也可觀察其他人日更後所帶來的改變。
      </p>

      <h2 class="mt-4">
        從現在開始，開啟你的日更吧!
      </h2>
      <p class="fs-5 mt-3 fw-black">
        你可以在日更中持續記錄你的生活，當日更滿足某些條件，將可獲特殊頭銜稱號，
        <br>當停止連續日更當天即為挑戰失敗，需重啟再度挑戰。
      </p>
     
      <div class="daylineCaption d-flex">
      <ul class="aboutLikeTitle mt-4 list-unstyled p-5">
        <div class="aboutLiketitleText d-flex  mb-4 justify-content-center">
          <span class="material-icons fs-1 me-3">
            account_circle
          </span>
          <h2>受歡迎頭銜</h2>
        </div>
        <li class="d-flex">
          <h3 class="py-3 me-5">新手</h3>
          <div class="d-flex flex-column align-items-center">
            <p class="fs-4 blueBlock py-3 fw-bold text-white">莫莫無名</p>
            <span class="material-icons fs-1">
              south
            </span>
          </div>
        </li>
        <li class="d-flex">
          <h3 class="py-3">100個關注</h3>
          <div class="d-flex flex-column align-items-center">
            <p class="fs-4 blueBlock py-3 fw-bold text-white">小有名氣</p>
            <span class="material-icons fs-1">
              south
            </span>
          </div>
        </li>
        <li class="d-flex">
          <h3 class="py-3">500個關注</h3>
          <div class="d-flex flex-column align-items-center">
            <p class="fs-4 blueBlock py-3 fw-bold text-white">受歡迎</p>
            <span class="material-icons fs-1">
              south
            </span>
          </div>
        </li>
        <li class="d-flex">
          <h3 class="py-3">1000個關注</h3>
          <div class="d-flex flex-column align-items-center">
            <p class="fs-4 blueBlock py-3 fw-bold text-white">眾所矚目</p>
           
          </div>
        </li>
        
      </ul>
      <ul class="aboutLikeTitle mt-4 list-unstyled p-5 ms-5">
        <div class="aboutLiketitleText d-flex  mb-4 justify-content-center">
          <span class="material-icons fs-1 me-3">
            account_circle
          </span>
          <h2>堅持頭銜</h2>
        </div>
        <li class="d-flex">
          <h3 class="py-3 me-5">新手</h3>
          <div class="d-flex flex-column align-items-center">
            <p class="fs-4 blueBlock py-3 fw-bold text-white">草民</p>
            <span class="material-icons fs-1">
              south
            </span>
          </div>
        </li>
        <li class="d-flex">
          <h3 class="py-3 me-5">100篇記錄</h3>
          <div class="d-flex flex-column align-items-center">
            <p class="fs-4 blueBlock py-3 fw-bold text-white">平民</p>
            <span class="material-icons fs-1">
              south
            </span>
          </div>
        </li>
        <li class="d-flex">
          <h3 class="py-3 me-5">500篇記錄</h3>
          <div class="d-flex flex-column align-items-center">
            <p class="fs-4 blueBlock py-3 fw-bold text-white">創作家</p>
            <span class="material-icons fs-1">
              south
            </span>
          </div>
        </li>
        <li class="d-flex">
          <h3 class="py-3 me-5">1000篇記錄</h3>
          <div class="d-flex flex-column align-items-center">
            <p class="fs-4 blueBlock py-3 fw-bold text-white">創作之王</p>
          </div>
        </li>

      </div>
    </div>

    
     

    </div>
    
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/post.js"></script>
  </body>
</html>
