<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>

    
    <%- include('./layout/header'); -%>

<!-- 
    <div class="card" style="width: 18rem">
      <img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" />
      <div class="card-body">
        <h5 class="card-title">卡片元件</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit, iusto odio assumenda alias id
          nobis earum!
        </p>
      </div>
    </div>
   -->
    <div style="height: 100px; background: cyan;">123456</div>
    <div style="height: 100px; background: cyan;">123456</div>
    <div style="height: 100px; background: cyan;">123456</div>
    <div style="height: 100px; background: cyan;">123456</div>
    <div style="height: 100px; background: cyan;">123456</div>
    <div style="height: 100px; background: cyan;">123456</div>
    <div style="height: 100px; background: cyan;">123456</div>
    <div style="height: 100px; background: cyan;">123456</div>
    <div style="height: 100px; background: cyan;">123456</div>
    <div style="height: 100px; background: cyan;">123456</div>
    <div style="height: 100px; background: cyan;">123456</div>
    <div style="height: 100px; background: cyan;">123456</div>
    <div style="height: 100px; background: cyan;">123456</div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
