<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<title>每日堅持做一件事-日更</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>
		<main class="mh-100">
			<div class="container">
				<div class="PostSearchResult row justify-content-center flex-wrap py-5 gy-4">
					<div class="col-10 col-lg-7">
						<div class="card  border-primary border-3">
                            <div class="card-header">
                                <a
											href="#"
											class="d-flex align-items-center text-decoration-none w-fit"
										>
											<img
												src="/assets/images/spring.png"
												alt=""
												class="userPic me-1 border border-3 border-secondary"
											/>
											<h3 class="fs-5">二次元</h3>
										</a>
                            </div>
                            <a href="">
                                <img
                            src="../assets/images/doramon.jpg"
                            class="card__img ratio ratio-1x1"
                            alt="post-img"                            
							/>
                            </a>
							<a href="" class="text-decoration-none d-block card-body px-1 py-2 d-flex justify-content-between align-item-center ">
                                <p class="overflow-hidden"><span class="me-2 text-secondary"><span class="create__days">987</span>天日更</span> 空氣砲在手，我就沒朋友</p>
                                <p><span class="commit__num">81</span>人回復</p>
							</a>
						</div>
					</div>
                    <div class="col-10 col-lg-7">
						<div class="card  border-primary border-3">
                            <div class="card-header">
                                <a
											href="#"
											class="d-flex align-items-center text-decoration-none w-fit"
										>
											<img
												src="/assets/images/spring.png"
												alt=""
												class="userPic me-1 border border-3 border-secondary"
											/>
											<h3 class="fs-5">二次元</h3>
										</a>
                            </div>
                            <a href="">
                                <img
                            src="../assets/images/doramon.jpg"
                            class="ratio ratio-1x1 card__img"
                            alt="post-img"
							/>
                            </a>
							<a href="" class="text-decoration-none d-block card-body px-1 py-2 d-flex justify-content-between align-item-center ">
                                <p class="overflow-hidden"><span class="me-2 text-secondary"><span class="create__days">987</span>天日更</span> 空氣砲在手，我就沒朋友</p>
                                <p><span class="commit__num">81</span>人回復</p>
							</a>
						</div>
					</div>
                    <div class="col-10 col-lg-7">
						<div class="card  border-primary border-3">
                            <div class="card-header">
                                <a
											href="#"
											class="d-flex align-items-center text-decoration-none w-fit"
										>
											<img
												src="/assets/images/spring.png"
												alt=""
												class="userPic me-1 border border-3 border-secondary"
											/>
											<h3 class="fs-5">二次元</h3>
										</a>
                            </div>
                            <a href="">
                                <img
                            src="../assets/images/doramon.jpg"
                            class="ratio ratio-1x1 card__img"
                            alt="post-img"
							/>
                            </a>
							<a href="" class="text-decoration-none d-block card-body px-1 py-2 d-flex justify-content-between align-item-center ">
                                <p class="overflow-hidden"><span class="me-2 text-secondary"><span class="create__days">987</span>天日更</span> 空氣砲在手，我就沒朋友</p>
                                <p><span class="commit__num">81</span>人回復</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</main>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
