<!DOCTYPE html>
<html lang="zh-tw">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>註冊 || 日更</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>
		<div class="signUp min-vh-100 d-flex justify-content-center">
			<main class="py-5 w-100 d-flex">
				<div class="form-wrap h-100 p-3 d-flex align-items-conter">
					<form class="form p-3 border border-primary flex-grow-1 mx-auto rounded-3">
                        <h1 class="fs-1 text-center fw-bold py-4 border-bottom border-2 border-primary mb-4">註冊</h1>

						<div class="form-group mb-4">
							<label for="user_name" class="mb-1 fs-4">姓名</label>
							<input
								type="password"
								class="form-control"
								id="user_name"
								placeholder="請輸入姓名"
							/>
						</div>
                        <div class="form-group mb-4">
							<label for="user_email" class="mb-1 fs-4">電子信箱</label>
							<input
								type="email"
								class="form-control"
								id="user_email"								
								placeholder="請輸入你的電子信箱"
							/>
						</div>
						<div class="form-group mb-5">
							<label for="user_password" class="mb-1 fs-4">密碼</label>
							<input
								type="password"
								class="form-control"
								id="user_password"
								placeholder="請輸入密碼"
							/>
						</div>



						<button type="submit" class="btn btn-primary w-100 mx-auto d-block mb-3" id="signUp__submit">註冊</button>
                        <p>已經是會員了嗎? <a href="./signIn.html" class="ms-3">登入</a></p>
					</form>
				</div>
                <div class="text-wrap w-50 h-100 d-none d-lg-block text-white position-relative">
                    <h2 class="signUp__slogan display-1 fw-black position-absolute text-uppercase">
                        start Your <br>journey !
                    </h2>
                </div>
			</main>
		</div>
		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
