<!DOCTYPE html>
<html lang="zh-tw">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>註冊 || 日更</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>
		<div class="signUp min-vh-100 d-flex justify-content-center">
			<main class="py-5 w-100 d-flex">
				<div class="form-wrap h-100 p-3 d-flex">
					<form class="form p-3 flex-grow-1 mx-auto rounded-3">
                        <h1 class="fs-1 text-center fw-bold py-4  mb-4">註冊</h1>

						<div class="form-group mb-4">
							<label for="user_name" class="mb-1 fs-4">暱稱</label>
							<input
                                name="name"
								type="text"
								class="form-control"
								id="user_name"
								placeholder="請輸入暱稱"
							/>
							<p class="errorMsg my-1 ps-2 text-danger fw-bold"></p>
						</div>
						<div class="form-group mb-4">
							<label for="user_email" class="mb-1 fs-4">電子信箱</label>
							<input
                                name="email"
								type="email"
								class="form-control"
								id="user_email"
								placeholder="請輸入你的電子信箱"
							/>
							<p class="errorMsg my-1 ps-2 text-danger fw-bold"></p>
						</div>
						<div class="form-group mb-5">
							<label for="user_password" class="mb-1 fs-4">密碼</label>
							<input
                                name="password"
								type="password"
								class="form-control"
								id="user_password"
								placeholder="請輸入密碼"
							/>
							<p class="errorMsg my-1 ps-2 text-danger fw-bold"></p>
						</div>


                        <div class="d-flex align-items-center justify-content-between">
                            <button type="submit" class="signUp__submit btn btn-primary me-5" id="signUpBtn">註冊</button>
                            <span>已經是會員了嗎? <a href="./signIn.html" class="text-primary">登入</a></span>
                        </div>
                        </form>
				</div>
				<div
					class="text-wrap w-50 h-100 d-none d-lg-block text-white position-relative"
				>
					<h2
						class="signUp__slogan display-1 fw-black position-absolute text-uppercase"
					>
						start Your <br />journey !
					</h2>
				</div>
			</main>
		</div>
		<%- include('./layout/footer'); -%>

		<script type="module" src="../js/signUp.js"></script>
		<script type="module" src="../main.js"></script>
	</body>
</html>
