<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<title>用戶編輯-日更</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>
		<main>
			<form class="container-field container-lg px-4 px-lg-5 py-lg">
				<div
					class="py-2 d-flex flex-column flex-sm-row justify-content-center justify-content-sm-start align-item-center w-xl-75 mx-auto"
				>
					<!-- left side -->
					<div
						class="d-flex flex-column align-item-center align-item-start justify-content-center mx-auto  me-md-4  mb-4 mb-md-0"
					>
						<div class="img-wrap text-center">
							<img
								src=""
								class="userPic-selfie m-auto"
								alt=""
								style="--imgSize : clamp(128px,15vw,192px);"
							/>
						</div>
						<div class="selfieBtn-wrap text-center mt-3">
							<label
								for="changeSelfieInput"
								class="d-inline-block mx-auto btn btn-outline-secondary px-3 py-1"
							>
								更換大頭貼
							</label>
							<input id="changeSelfieInput" type="file" class="d-none" />
						</div>
					</div>
					<!-- right side -->
					<div class="mx-auto" style="width: clamp(368px,42vw,576px);">
						<h2 class="text-dark mb-3 pb-3 border-bottom border-dark" mx>
							個人資訊
						</h2>
						<div class="mb-3 d-flex align-items-center">
							<label for="userName" class="form-group me-3 w-25">暱稱</label
							><input id="userName" type="text" class="w-xl-75 form-control" />
						</div>
						<!-- <div class="mb-3 d-flex align-items-center">
							<label for="" class="form-group me-3 w-25">個人信箱</label
							><input type="text" class="w-md-50 form-control" disabled />
						</div> -->
						<div class="mb-3 d-flex align-items-center">
							<label for="userDaylineType" class="form-group me-3 w-25">日更類型</label>
								<select name="userDaylineType" id="userDaylineType" class="form-select w-xl-75">
									<option value="" selected disabled>請選擇</option>
									<option value="運動">運動</option>
									<option value="藝術">藝術</option>
									<option value="寫作">寫作</option>
									<option value="寫程式">寫程式</option>
									<option value="跳舞">跳舞</option>
								</select>
						</div>
						<div class="mb-6 d-flex">
							<label for="" class="form-group me-3 w-25">個人簡介</label>
							<textarea
								class="form-control w-xl-75"
								name="userIntroduction"
								id="userIntroduction"
								rows="6"
								maxlength="100"
								value=""
								style="resize: none"
								placeholder="說兩句讓大家能夠認識你吧!(^u^) (最多一百字)"
							></textarea>
						</div>
						<div class="d-flex flex-column align-items-center align-items-sm-end w-100">
							<button type="submit" id="editUserSubmitBtn" class="btn btn-outline btn-success btn-lg w-fit">儲存</button>
						</div>
					</div>
				</div>
				
			</form>
		</main>
		<%- include('./layout/footer'); -%>
		<script type="module" src="../js/editUserData.js"></script>
		<script type="module" src="../main.js"></script>

	</body>
</html>
