<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<title>每日堅持做一件事-日更</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>
		<main class="mh-100">
			<div class="container-field container-lg px-4 px-md-lg">
        <div class="p-2 d-flex align-item-center w-75 mx-auto">
          <img src="/assets/images/cat_amazing.jpg" class="userPic-selfie me-3 my-auto" alt="">
          <div class="user__info">
            <h2>第87代白貓皇</h2>
            <div><span class="d-inline-block w-50">247人關注 </span><span class="ms-4">279日更</span></div>
            <div><sapn class="d-inline-block w-50">小有人氣 </sapn><span class="ms-4">奴才</span></div>
          </div>
        </div>
				<div class="row g-1 w-md-75 mx-auto">
          <div class="col-4"><a href="#"><img src="/assets/images/cat_amazing.jpg" alt="" style="height: 33%; width: 100%;"></a></div>
          <div class="col-4"><img src="/assets/images/cat_amazing.jpg" alt="" style="height: 33%; width: 100%;"></div>
          <div class="col-4"><img src="/assets/images/cat_amazing.jpg" alt="" style="height: 33%; width: 100%;"></div>
          <div class="col-4"><img src="/assets/images/cat_amazing.jpg" alt="" style="height: 33%; width: 100%;"></div>
          <div class="col-4"><img src="/assets/images/cat_amazing.jpg" alt="" style="height: 33%; width: 100%;"></div>
          <div class="col-4"><img src="/assets/images/cat_amazing.jpg" alt="" style="height: 33%; width: 100%;"></div>
        </div>
			</div>
		</main>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
